In [97]:
# check plinmdrom or not 
i = "naman"
if i[::-1]==i:
  print("its plinmdrom")
else: 
  print("its not plinmdrom ")

its plinmdrom

In [98]:
# Reverse String 
a = "hello guys"
b = a[::-1]
print(b)

syug olleh

In [99]:
#count vowels and const in string 
val = input("enter ")
y = "aeiou"
count= 0 
const =0
for i in val.lower():
  if i in y:
    count += 1

  else:
    const+=1

       
print(f"Vowels are {count} and constant are {const} ")

Vowels are 0 and constant are 0

In [ ]:
# find the missing one value in my list
x = [1,3,4,5,6]
l = len(x)+1
sumis = l* (l+1) //2
total= sum(x)
print(sumis-total)

2

In [101]:
# find the duplicates in the list
arr = [1,5,3,4,2,3,2,1,5,6,3,23,6]
dup =[]
seta = set()
for elem in arr:
  if  elem in seta and elem not in dup:
    dup.append(elem)
  seta.add(elem)
print(dup)

[3, 2, 1, 5, 6]

In [102]:
arr= [(1,6),(1,2),(11,1),(3,4),]
sor = sorted(arr, key=lambda x:x[0])
print(sor)

[(1, 6), (1, 2), (3, 4), (11, 1)]

In [103]:
some={
  "name": "ayush",
  "class": 23,
  "sub":"English"
}
print(some)

{'name': 'ayush', 'class': 23, 'sub': 'English'}

In [104]:
#sum of given number 
x = int(input("entet"))
sum = 0 
while x>0:
  sum += x%10
  x //= 10
  
print(sum)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# check prime number or not
x = [22,4,5,6,8,3,2,1]
for no in x:
 c = 0
 for i in range(2,no):
    if no % i ==0 :
      c += 1
 if c == 0:
    print("prime")
 else: 
    print("not prime")

not prime
not prime
prime
not prime
not prime
prime
prime
prime

In [ ]:
# sum of natural numbers from 1 to n
x = int(input("enter a number to find sum of 1 to n: "))
sum = 0

for i in range(1,x+1):
  sum += i
print(sum)

7626

In [ ]:
# fibonachi series
n = int(input("enter a number to find fibonachi series: "))
a = 0 
b =1 
for i in range(n):
  print(a) 
  a,b=b,a+b

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

In [ ]:
# amstrong number or not
n = int(input("enter a number to check amstrong: "))
for i in range(x):
  np = x
  result = 0

In [ ]:
# prime of not check test 
n = int(input("enter a number to check: "))
c =0 
for i in range(2,n):
  if n%i==0:
    c+=1
if c ==0:
  print("prime")
else:
  print("not prime")

prime

In [ ]:
# sum of and divide
l = [1,2,3,4 ,5 ]
sum = 0 
for i in l:
  sum += i
print(sum)
Product  =1 
for i in l:
  Product = Product * i
print(Product)

15
120

In [ ]:
l = [1,2]
for i in l: 
  for j in l:
   print('({},{})'.format(i,j))

(1,1)
(1,2)
(2,1)
(2,2)

In [ ]:
x =[3,5,6,8,4]
v= 0
for i in x:
  v+= i
print(v)

26

In [105]:
i = int(input("Enter"))
sum = 0
for i in range(1,i+1):
  sum += i # sum of n number
  # sum *= i # factorial of n number





















































































































































































































































  
print(sum)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# find max  
x = [1,2,3,4,5,13]
c = x[1] 
for i in x:
  if i>c:
    c=i
print(c)

-23

In [ ]:
# find frist second and third largest number in list
x = [234,25,4345,4345,5,4,234,234,32,423,423,4324]
l1= x[0]
l2= x[1]
l3= x[2]
for val in x:
  if val > l1:
    l3 = l2
    l2 = l1 
    l1= val
  elif val > l2 and val != l1 :
    l3 = l2 
    l2=val
  elif val >l3  and val != l1 and val != l2:
    l3 = val
print(l1, l2, l3)

4345 4324 423

In [ ]:
x = [1,2,3,4,5,6]
c =0
for i in x:
  if i>c:
   c=i
print(c)

6

In [ ]:
# reverse list 
a = [32,4,35,6,7,4,5,4,5,4,3,4,3]
b = a[::-1]
print(b)

[3, 4, 3, 4, 5, 4, 5, 4, 7, 6, 35, 4, 32]

In [ ]:
# reserve list 
val= [4,4,35,6,6,7,452,633,43,135,346,54,363,6346346]
n = len(val)
for i in range(n//2):
  temp = val[i]
  val[i] = val[n-i-1]
  val[n-i-1] = temp
print(val)

[6346346, 363, 54, 346, 135, 43, 633, 452, 7, 6, 6, 35, 4, 4]

In [ ]:
# sum of list

x = [1,2,3,4,5,5]
c = 0 
for i in x:

   c += i

print(c)

20