In [53]:
# count the digit in your varible
# mathod=1
x =852587412

num = x 
count = 0 
while num> 0:
  count+=1
  num //= 10
   
    
print(count)

9

In [52]:
# count with funtion
def counti(x):

 val=0

 while x>0:
  val+=1
  x//=10
 return val
counti(626234)

6

In [51]:
# count number object funtion mathod
class Count_number:
  def counti(self,x):

   val=0

   while x>0:
     val+=1
     x//=10
   return val
num = Count_number()
print(num.counti(741))

3

In [14]:
# mathod = 2
from math import *


x = 34

r = int(log10(x)+1)
print(r)

2

In [42]:
num = 6
result = []
for i in range(1,num //2):
  if num %i == 0:
   result.append(i)
result.append(num)
print(result)

[1, 2, 6]

3

In [ ]:
s= "the day is sunny the the \
the sunny is is"
result  = ""
for char in s:
  if char  not in result:
    result +=char
print(result)
# Remove  Duplicate in String

In [ ]:
# print last digit 
n = 459
num = n 
while num > 0:
  l_digit = num %10
  print(l_digit)
  num=num//10

In [ ]:

def tab(n):

 for i in range(1,21):
  print(f"{n} x {i} = {n*i}")

tab(25)

25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250
25 x 11 = 275
25 x 12 = 300
25 x 13 = 325
25 x 14 = 350
25 x 15 = 375
25 x 16 = 400
25 x 17 = 425
25 x 18 = 450
25 x 19 = 475
25 x 20 = 500